.prese{
	height: 600px;
	width: 800px;
	margin: 80 auto 0 auto;
}

#presenta{
	background-color: #394032;
}

.sepcon{
	margin-top:40px;
}

.weltext{
	color: white;
}

.weltext:hover{
	color:  #DC493A;
	text-decoration: none;
}

a{
	color: white;
}

.false{
	display: none;
}