body{
	box-sizing: border-box;
}

.prese{
	height: 600px;
	width: 800px;
	margin: 0 auto 0 auto;
}

#presenta{
	background-color: #394032;
}

.sepcon{
	margin-top:60px;
}

.sepvide{
	margin-top: 30px;
}


.weltext{
	color: white;
	font-size: 25px;
}

.weltext:hover{
	color:  #DC493A;
	text-decoration: none;
}

a{
	color: white;
}

.false{
	display: none;
}

.videox{
	display: block;
	margin: 0 auto 0 auto;
}

.repro{
	height: 800px;
	width: 600px;
	border:none;
}

.separacion{
	margin-top: 25px;
}